[Desktop Entry]
Encoding=UTF-8
Version=1.0
Terminal=true
Type=Application
Name=Conversor
Comment=Script conversor de vídeos
Exec=bash -c "~/converte/bin/batch_converte_divx.sh"
Icon=script
X-Ayatana-Desktop-Shortcuts=X-New
[X-New Shortcut Group]
Name=Nova Conversao
Exec=bash -c "~/converte/bin/batch_converte_divx.sh"
TargetEnvironment=Unity
